.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: var(--mb-1);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.container-user-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-box .login-box-title {
  padding: var(--mb-1-5);
  margin: 0 auto;
  color: var(--container-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--container-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.login-box .login-box-title i {
  font-size: var(--h2-font-size);
  font-weight: bold;
}
.user-box-submit {
  margin-top: var(--mb-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box .user-box {
  position: relative;
  width: 100%;
}

.user-box input,
.user-box-state,
select {
  width: 100%;
  padding: var(--mb-0-75);
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
select {
  cursor: pointer;
  font-size: var(--small-font-size);
}
::placeholder {
  color: #fff;
  font-size: var(--small-font-size);
}
.btn {
  width: 130px;
  height: 45px;
  background: #20334a;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-color: #fff;
  color: #20334a;
}
/*  top: 25%; 25 % will center the required mark */
.required:after {
  position: absolute;
  top: 25%;
  right: 0;
  left: -12.5%;
  bottom: 0;
  content: "*";
  color: red;
}
i {
  font-size: 1rem;
  color: #fff;
}

/* =============== Meduim device =============== */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
  .login-box {
    width: 400px;
  }
  .container-user-box {
    display: block;
    justify-self: center;
    align-self: center;
  }
  .required:after {
    position: absolute;
    top: 25%;
    right: 0;
    left: -2%;
    bottom: 0;
    content: "*";
    color: red;
  }
}
