/* ======== BASE======== */

@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@300&display=swap");

/* ======== Varirables ======== */
:root {
  --header-height: 3rem;
  /* ======== Colors ======== */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;
  --box-shadow-img: inset 9px 10px 10px 0.5px rgba(0, 0, 10, 0.21);
  /* ======== Font and typography ======== */
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px | 1rem = 16px ... */

  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* ======== Font weight ======== */

  --font-normal: 400;
  --font-meduim: 500;
  --font-semi-bold: 600;

  /* ======== Margenes Bottom ======== */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /* ======== Z-index ======== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App {
  text-align: center;
  background-color: #6b8bcc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

label {
  font-weight: bold;
} */

/* Path: src/App.tsx */
